<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Push Notifications App
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="borrarMensajes()" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>

        <ion-list-header>
            <ion-label>User ID</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let notificacion of notificacionesPushRecibidas">
            <ion-label>
                {{pushService.userId}}
            </ion-label>
        </ion-item>

        <ion-list-header>
            <ion-label>Notificaciones</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let notificacion of notificacionesPushRecibidas">
            <ion-label>
                <h3>Title: {{notificacion.title}}</h3>
                <p>Body: {{notificacion.body}}</p>
                <p>Additional: {{notificacion.additionalData | json}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>